ion-header {
  ion-toolbar {
    --background: #091a21;
    --color: #fff;
    --border-radius: 0;
    border-bottom: 5px solid #000000;

    ion-buttons {
      ion-button {
        --color: #fff;
        --border: none;
        --box-shadow: none;
        --background: transparent;
        ion-icon {
          font-size: 24px;
        }
      }

      &[slot="start"] {
        ion-button {
          --padding-start: 0;
        }
      }

      &[slot="end"] {
        ion-button {
          --padding-end: 0;
        }
      }
    }

    ion-title {
      font-size: 30px;
      color: #fff;
      font-weight: 900;
      text-align: center;
      margin: 0;
    }
  }
}

ion-content {
  --padding: 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-list {
  flex: 1;
}

ion-item {
  --padding-start: 8px;
  --padding-end: 8px;
  --margin-bottom: 16px;
}

ion-input {
  --padding-start: 12px;
  --border-radius: 6px;
  --box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  --border: none;
  border-bottom: 1px solid
    var(
      --ion-item-border-color,
      var(
        --ion-border-color,
        var(
          --ion-color-step-150,
          var(--ion-background-color-step-150, rgba(0, 0, 0, 0.13))
        )
      )
    );
  margin-top: 8px;
}

.save-button {
  --border-radius: 6px;
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  --background: #28a745;
  --color: #fff;

  ion-icon {
    margin-right: 8px;
  }

  span {
    display: inline-block;
  }
}
